In [1]:
# import data
import pandas as pd
df = pd.read_csv('C:/Users/there/notebook/csv files/world happiness dataset/2018.csv')

In [2]:
# filter result base on a column
df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
5,6,Netherlands,7.441,1.361,1.488,0.878,0.638,0.333,0.295
6,7,Canada,7.328,1.330,1.532,0.896,0.653,0.321,0.291
7,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389
8,9,Sweden,7.314,1.355,1.501,0.913,0.659,0.285,0.383

In [3]:
#filter result base on if value are in a column in result
needed_country = ['Canada', 'Sweden','Nigeria']

df[df['Country or region'].isin(needed_country)]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
6,7,Canada,7.328,1.330,1.532,0.896,0.653,0.321,0.291
8,9,Sweden,7.314,1.355,1.501,0.913,0.659,0.285,0.383
90,91,Nigeria,5.155,0.689,1.172,0.048,0.462,0.201,0.032

In [4]:
#filter result set if a particular string value is in a column
df[df['Country or region'].str.contains('United')]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
10,11,United Kingdom,7.190,1.244,1.433,0.888,0.464,0.262,0.082
17,18,United States,6.886,1.398,1.471,0.819,0.547,0.291,0.133
19,20,United Arab Emirates,6.774,2.096,0.776,0.670,0.284,0.186,NaN

In [5]:
# filter using the filter method
#rename country or region to country
df.rename(columns = {'Country or region': 'Country'}, inplace=True)
#set the index to country
df.set_index('Country', inplace = True)

In [6]:
df
df.filter(items = ['Nigeria', 'Finland'], axis=0)

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country,,,,,,,,
Nigeria,91,5.155,0.689,1.172,0.048,0.462,0.201,0.032
Finland,1,7.632,1.305,1.592,0.874,0.681,0.202,0.393

In [7]:
df.filter(like = 'Nigeria', axis=0)

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country,,,,,,,,
Nigeria,91,5.155,0.689,1.172,0.048,0.462,0.201,0.032

In [8]:
#sorting columns
df[df['Overall rank'] <= 10].sort_values(by=['Overall rank'], ascending=False )

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country,,,,,,,,
Australia,10,7.272,1.340,1.573,0.910,0.647,0.361,0.302
Sweden,9,7.314,1.355,1.501,0.913,0.659,0.285,0.383
New Zealand,8,7.324,1.268,1.601,0.876,0.669,0.365,0.389
Canada,7,7.328,1.330,1.532,0.896,0.653,0.321,0.291
Netherlands,6,7.441,1.361,1.488,0.878,0.638,0.333,0.295
Switzerland,5,7.487,1.420,1.549,0.927,0.660,0.256,0.357
Iceland,4,7.495,1.343,1.644,0.914,0.677,0.353,0.138
Denmark,3,7.555,1.351,1.590,0.868,0.683,0.284,0.408
Norway,2,7.594,1.456,1.582,0.861,0.686,0.286,0.340
Finland,1,7.632,1.305,1.592,0.874,0.681,0.202,0.393

In [9]:
# to reset index
df.reset_index(inplace = True)
df.set_index('Country', inplace=True)

In [10]:
df.loc['Finland']

Overall rank                    1.000
Score                           7.632
GDP per capita                  1.305
Social support                  1.592
Healthy life expectancy         0.874
Freedom to make life choices    0.681
Generosity                      0.202
Perceptions of corruption       0.393
Name: Finland, dtype: float64

In [11]:
df.iloc[0]

Overall rank                    1.000
Score                           7.632
GDP per capita                  1.305
Social support                  1.592
Healthy life expectancy         0.874
Freedom to make life choices    0.681
Generosity                      0.202
Perceptions of corruption       0.393
Name: Finland, dtype: float64

In [12]:
# multi indexing
df.reset_index(inplace=True)
df.set_index(['Country','Score'], inplace=True)

In [13]:
df

,,Overall rank,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country,Score,,,,,,,
Finland,7.632,1,1.305,1.592,0.874,0.681,0.202,0.393
Norway,7.594,2,1.456,1.582,0.861,0.686,0.286,0.340
Denmark,7.555,3,1.351,1.590,0.868,0.683,0.284,0.408
Iceland,7.495,4,1.343,1.644,0.914,0.677,0.353,0.138
Switzerland,7.487,5,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...
Yemen,3.355,152,0.442,1.073,0.343,0.244,0.083,0.064
Tanzania,3.303,153,0.455,0.991,0.381,0.481,0.270,0.097
South Sudan,3.254,154,0.337,0.608,0.177,0.112,0.224,0.106
Central African Republic,3.083,155,0.024,0.000,0.010,0.305,0.218,0.038
Burundi,2.905,156,0.091,0.627,0.145,0.065,0.149,0.076

In [15]:
# sorting index
df.sort_index(ascending=False)

,,Overall rank,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country,Score,,,,,,,
Zimbabwe,3.692,144,0.357,1.094,0.248,0.406,0.132,0.099
Zambia,4.377,125,0.562,1.047,0.295,0.503,0.221,0.082
Yemen,3.355,152,0.442,1.073,0.343,0.244,0.083,0.064
Vietnam,5.103,95,0.715,1.365,0.702,0.618,0.177,0.079
Venezuela,4.806,102,0.996,1.469,0.657,0.133,0.056,0.052
...,...,...,...,...,...,...,...,...
Argentina,6.388,29,1.073,1.468,0.744,0.570,0.062,0.054
Angola,3.795,142,0.730,1.125,0.269,0.000,0.079,0.061
Algeria,5.295,84,0.979,1.154,0.687,0.077,0.055,0.135
Albania,4.586,112,0.916,0.817,0.790,0.419,0.149,0.032
Afghanistan,3.632,145,0.332,0.537,0.255,0.085,0.191,0.036